@import './vars.scss';

  .cardBody{
    width: 600px;
    border-radius: 16px;
    display: inline-flex;
    padding: 20px;
    font-family: $font;
    .imageSection {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px 0 0 16px;
      background-color: $white;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        shape-outside: circle();
        object-fit: cover;
      }
    }
    .dataSection {
      width: 60%;
      border-radius: 0 16px 16px 0;
      padding: 15px 8px 15px 25px;
      .statusSection{
        display: inline-flex;
        align-items: center;
        width: 100%;
        .status{
          width: 90%;
        }
      }
      .characterData{
        p {
          font-size: .8rem;
        }
        .actions{
          display: flex;
          justify-self: end;
        }
      }
    }
  }
.favorites {
  width: 250px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: $font;
  .imageSection {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px 16px 0 0;
    img {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      shape-outside: circle();
      object-fit: cover;
    }
  }
  .dataSection {
    width: 100%;
    height: 170px;
    border-radius: 0 0 16px 16px;
    padding: 10px 0 15px 0;
    .statusSection{
      display: inline-flex;
      align-items: center;
      width: 80%;
      padding-left: 25px;
      position: relative;
      top: 120px;
      .status{
        width: 90%;
      }
      .favoriteButton{
        outline: none;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
    .characterName{
      width: 90%;
      margin-right: 0;
      padding-left: 25px;
      position: relative;
      top: -40px
    }
    .characterData{
      visibility: hidden;
      height: 0;
    }
  }
}
.favoriteButton{
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}
.Alien{
  background: linear-gradient(135deg, #1C792B 0%, #b3ec9e 100%)
}
.Human{
  background: linear-gradient(135deg, #0597B7 0%, #addcf0 100%);
}
.death {
  background-color: $gray2;
}
.live {
  background-color: $white;
}

@media only screen and (max-width: 899px){
  .cardBody{
    width: 40vw;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    .imageSection {
      width: 40vw;
      height: 30vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px 16px 0 0;
    }
    .dataSection {
      width: 40vw;
      border-radius: 0 0 16px 16px;
      padding: 10px 0 15px 0;
      .statusSection{
        display: inline-flex;
        align-items: center;
        width: 90%;
        padding-left: 25px;
        .status{
          width: 90%;
        }
      }
      .characterName{
        width: 90%;
        margin-right: 0;
        padding-left: 25px;
      }
      .characterData{
        
        p {
          padding-left: 25px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px){
  .cardBody{
    width: 40vw;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: $font;
    .imageSection {
      width: 40vw;
      height: 40vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px 16px 0 0;
    }
    .dataSection {
      width: 40vw;
      height: 200px;
      border-radius: 0 0 16px 16px;
      padding: 10px 0 15px 0;
      .statusSection{
        display: inline-flex;
        align-items: center;
        width: 90%;
        padding-left: 25px;
        position: relative;
        top: 120px;
        .status{
          width: 90%;
        }
        .favoriteButton{
          outline: none;
          background: none;
          border: none;
          cursor: pointer;
        }
      }
      .characterName{
        width: 90%;
        margin-right: 0;
        padding-left: 25px;
        position: relative;
        top: -40px
      }
      .characterData{
        visibility: hidden;
        height: 0;
      }
    }
  }
}